$primary: #eddbc7;
$second: #a7727d;
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: $primary 1px solid;
  padding-left: 1rem;

  h1 {
    color: $second;
    font-size: 1.7rem;
    margin-bottom: 3rem;
  }

  .posts-menu {
    display: flex;
    flex-direction: column;

    gap: 3rem;
    .post-menu {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      h2 {
        font-size: 1.4rem;
        font-weight: 400;
        text-align: center;
      }

      img {
        width: 100%;
        height: 20rem;
        object-fit: cover;
      }
    }
  }
}
