@import url("https://fonts.googleapis.com/css2?family=Itim&family=Poppins:ital,wght@0,200;0,300;0,400;1,500&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Itim";
}
.App {
  display: flex;
  justify-content: center;
}
.container {
  width: 1024px;
}
